* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* max-width: 100%; */
}
.start-box, .question-box{
    
  
    width: 1200px ;
    height: 500px;
    border: 2px solid blue;
    margin-top: 100px;
    border-radius: 20px;
}
.question-box{
display: none;

    
}
.highscore{
    float: left;
    padding: 20px;
    font-size: 20px;
}
.timer{
    float: right;
    padding: 20px;
    font-size: 20px;
}
.quiz-box{
    text-align:center;
    padding-top: 100px;
}
.quiz-title, .quiz-question{
    font-size:xx-large;
    padding-bottom: 30px;
}
.quiz-question{
    width: 800px;
    text-align:left;
    padding-top: 100px;
    
}
.instruction{
    width: 800px;
    font-size: 20px;
    padding-bottom: 50px;
}
.btn{
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.hide{
    display: none;
}
.que-text{
    text-align: center;
    padding-top: 150px;
    font-size: 50px;
}
.options{
    width: 200px;
    text-align: left;
    margin: 0 0 0 198px;
}

.buttons{
    width: 200px;
    height: 50px;
    background-color: purple;
    font-size: 30px;
    color: white;
    text-align: left;
    padding-left: 10px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    display: block;
}
.buttons:hover{
    background-color: #EEB5EB;
}